<header>
  <nav class="menu">
    <div class="mobile-menu-icon" (click)="toggleMobileMenu()" *ngIf="isMobileView">
      <i class="fas fa-bars"></i>
    </div>
    <ul [ngClass]="{'active': isMobileMenuOpen, 'inactive': !isMobileMenuOpen}" *ngIf="!isMobileView || isMobileMenuOpen">
      <li><a routerLink="inicio">Inicio</a></li>
      <li><a routerLink="sobremi">Sobre Mi</a></li>
      <li><a routerLink="habilidades">Habilidades</a></li>
      <li><a routerLink="contacto">Contacto</a></li>
    </ul>
  </nav>
</header>





