
.menu {
  display: flex;
  padding: 10px;
  justify-content: center;
}


.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu li {
  margin: 0 10px;
}

.menu a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.menu a:hover {
  background-color: #fff;
  color: #333;
}


@media (max-width: 768px) {
  @keyframes slideIn {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slideOut {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(-100%);
      opacity: 0;
    }
  }

  .menu {
    position: relative;
    margin-top: 5rem;
  }

  .mobile-menu-icon {
    position: fixed;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 999;
  }

  .menu ul {
    position: fixed;
    top: 10px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  .menu ul.active {
    animation: slideIn 0.5s ease forwards;
  }

  .menu ul.inactive {
    animation: slideOut 0.3s ease forwards;
  }

  .menu ul li {
    margin-bottom: 10px;
  }
}



