.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-gap: 10px;
  margin: 15px;
}

.container {
  position: relative;
  background-color: rgba(242, 242, 242, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(100, 100, 100, 0.507);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.container:hover::before {
  opacity: 1;
}

.container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 3px;
  background-color: #000;
  transition: background-color 0.3s ease;
}

.container:hover::after {
  background-color: #ff0000;
}

.info-Cursos {
  grid-row: 1 / span 4;
  grid-column: -1 / span 1;
}

.info-Educacion {
  grid-row: 2;
  grid-column: 1;
}

.info-Experiencia {
  grid-row: 2;
  grid-column: 2 / span 1;
}

.info-Objetivos {
  grid-row: 1;
  grid-column: 1 / span 2;
}

.debilidades {
  grid-row: 4;
  grid-column: 1 / span 1;
}

.fortalezas {
  grid-row: 4;
  grid-column: 2 / span 1;
}


