body{
  background: url(https://images5.alphacoders.com/480/480537.png);
  display: grid;
  opacity: 0.9;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}
