/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: radial-gradient(circle at 50% 50%, #31312f 0, #232427 50%, #15181f 100%);
  opacity: 0.9;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}




