/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: radial-gradient(circle at 43.84% 120.44%, #00373f 0, #003746 3.85%, #00364d 7.69%, #003654 11.54%, #003559 15.38%, #00345e 19.23%, #003361 23.08%, #003264 26.92%, #003065 30.77%, #002d65 34.62%, #002a64 38.46%, #092761 42.31%, #23235e 46.15%, #321f59 50%, #3d1a54 53.85%, #46154d 57.69%, #4d0f46 61.54%, #53093f 65.38%, #570437 69.23%, #5a0030 73.08%, #5b0028 76.92%, #5c0120 80.77%, #5b0418 84.62%, #590910 88.46%, #570f06 92.31%, #541400 96.15%, #501900 100%);
  opacity: 0.9;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}




