/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #43A4C4;
  opacity: 0.9;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}




