.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 5rem;
  height: 90vh;
}

@keyframes typing {
  from {
    width: 0; /* Iniciar con una anchura de 0 para simular el tecleo */
  }
  to {
    width: 100%; /* Aumentar la anchura al 100% para mostrar todo el texto */
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent; /* Mostrar un cursor intermitente */
  }
  50% {
    border-color: transparent;
  }
}

.inicio__title {
  font-size: 2rem;
  color: #f5e7e7;
  margin: 0;
  text-align: center;
  border-right: 2px solid transparent; /* Crear el efecto del cursor */
  white-space: nowrap; /* Evitar que el texto se desplace automáticamente a la siguiente línea */
  overflow: hidden; /* Ocultar el texto que excede el ancho del contenedor */
  animation: typing 2s steps(40, end), blink-caret 0.75s step-end ;
}

.inicio__subtitle {
  font-size: 1.5rem;
  color: #e0d2d2;
  margin: 0;
  text-align: center;
  border-right: 2px solid transparent; /* Crear el efecto del cursor */
  white-space: nowrap; /* Evitar que el texto se desplace automáticamente a la siguiente línea */
  overflow: hidden; /* Ocultar el texto que excede el ancho del contenedor */
  animation: typing 2s steps(40, end), blink-caret 0.75s step-end ;
}

.front {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 500px;
}

.front h2 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}

.front p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 5px;
}

.social-icons {
  display: flex;
  margin-top: 10px;
}

.social-icons a {
  color: #333;
  text-decoration: none;
  margin-right: 10px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #666;
}


.download-button {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;

}

.download-button:hover {
  background-color: #666;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Cambiar a dirección de columna en dispositivos móviles */
    height: auto; /* Ajustar altura automáticamente en dispositivos móviles */
    padding: 10px; /* Reducir el padding en dispositivos móviles */
  }

  .front {
    width: 100%; /* Ajustar al 100% del ancho en dispositivos móviles */
    max-width: 500px; /* Establecer un ancho máximo para evitar que se extienda demasiado en pantallas grandes */
    margin: 0 auto; /* Centrar horizontalmente */
    padding: 10px; /* Reducir el padding en dispositivos móviles */
  }

  .inicio__title {
    font-size: 1.4rem; /* Ajustar el tamaño de fuente en dispositivos móviles */
  }
}



