
<div class="container">
  <div  class="inicio">
    <h1 class="inicio__title">Hola soy Desarrollador Web Junior</h1>
    <h2 class="inicio__subtitle">¡Este es mi portafolio!</h2>
  </div>
  <div class="front">
    <!-- Contenido de la cara frontal de la tarjeta -->
    <p>Nombre: {{ nombre }}</p>
    <p>Edad: {{ edad }}</p>
    <p>Profesión: {{ profesion }}</p>
    <div class="social-icons">
      <a href="https://github.com/SEVF16" target="_blank" rel="noopener">
        <i class="fab fa-github" ></i>
      </a>
      <a href="https://www.linkedin.com/in/shiryu-valecillos-1084671b9/" target="_blank" rel="noopener">
        <i class="fab fa-linkedin" ></i>
      </a>
    </div>
    <button class="download-button"  (click)="downloadCV()">
      <i class="fas fa-download"></i> Descargar CV
    </button>
  </div>
</div>



